*{margin: 0;padding: 0;}
img{
    width: 100%;
}
body{
    background-color:#f7f7f9 !important;
}
nav{
    box-shadow: rgb(76 78 100 / 22%) 0px 2px 10px 0px;
    background-color: #fff !important;
    border-radius: 5px;
}

.css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-t5z4a2 {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
}
.css-bb1fx0 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: inherit;
}

.css-bb1fx0:hover {
    background-color: rgba(76, 78, 100, 0.05);
}
.css-11rb4o0 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    width: 40px;
    height: 40px;
}
.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.css-1w651zy {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}
.css-183ajdv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: padding 0.25s ease-in-out 0s;
    min-height: 64px;
    padding-left: 1.375rem;
}
.css-5k1n1y {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}
.css-1j42o5e {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;
    color: rgba(76, 78, 100, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0rem;
    background-color: transparent !important;
}
.css-1k33q06 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}
.css-6f286u {
    margin: 0px 0px 0px 0.5rem;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.125rem;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    font-weight: 700;
    line-height: 1.2;
    transition: opacity 0.25s ease-in-out 0s, margin 0.25s ease-in-out 0s;
    opacity: 1;
}
/* .left_menu {
    left: unset;
    right: unset;
    overflow-x: hidden;
    transition: width 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
} */
.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.left_menu {
    color: rgba(76, 78, 100, 0.87);
    transition: 0.5s;
    /* box-shadow: rgb(76 78 100 / 20%) 0px 8px 10px -5px, rgb(76 78 100 / 14%) 0px 16px 24px 2px, rgb(76 78 100 / 12%) 0px 6px 30px 5px; */
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
    outline: 0px;
    left: -300px;
    background-color: rgb(255, 255, 255);
    width: 260px;
    border-right: 0px solid;
}
.left_menu.active{
    left: 0px;
}
.css-ohwg9z {
    position: relative;
    overflow: hidden;
}
.css-1rf96ts {
    height: 100%;
    overflow: hidden auto;
}
.css-k3fuai ul {
    list-style: none;
}

.css-1ta9ch5 {
    list-style: none;
    margin: 0px;
    padding: 0rem 0px 8px;
    position: relative;
}
.css-k3fuai .MuiListItem-gutters {
    padding-left: 4px;
    padding-right: 4px;
}

.css-1ta9ch5 > :first-child {
    margin-top: 0px;
}

.css-bjbssn {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 0.375rem;
    flex-direction: column;
    transition: padding 0.25s ease-in-out 0s;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.css-wq7v3n {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5625rem 0.75rem 0.5625rem 1rem;
    width: 100%;
    border-radius: 8px;
    transition: padding-left 0.25s ease-in-out 0s;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1dqc8eu {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: opacity 0.25s ease-in-out 0s;
    overflow: hidden;
    opacity: 1;
}

.css-70kf2r {
    margin-left: 0.375rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-9wifit {
    max-width: 100%;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 77, 73);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 0.1875rem;
}
.css-9wifit .MuiChip-label {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    line-height: 1.385;
    text-transform: capitalize;
}

.css-tavflp {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}
.css-1ufqz6e {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 1.5rem;
    color: rgba(76, 78, 100, 0.68);
    transition: transform 0.25s ease-in-out 0s;
}
.css-2q3g9g {
    /* height: 0px; */
    overflow: hidden;
    /* visibility: hidden; */
    padding-left: 0rem;
    width: 100%;
    opacity: 1;
    transition: all 0.25s ease-in-out 0s;
}
.css-hboir5 {
    display: flex;
    width: 100%;
}
.css-8atqhb {
    width: 100%;
}
.css-mny7hi {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 0.375rem;
    transition: padding 0.25s ease-in-out 0s;
    padding: 0px !important;
}
.css-1yej1se {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    transition: padding-left 0.25s ease-in-out 0s;
    padding: 0.5625rem 0.75rem 0.5625rem 1rem;
    cursor: pointer;
}
.css-fjx5w7 {
    flex-shrink: 0;
    display: inline-flex;
    min-width: 0px;
    color: rgba(76, 78, 100, 0.68);
    transition: margin 0.25s ease-in-out 0s;
    margin-right: 1rem;
    margin-left: 0.5rem;
}
.css-1x63yk2 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 0.5rem;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
li.MuiListItem-root.MuiListItem-gutters.nav-link.css-6zyuwx{
    padding: 0;
}
.css-1wjc5gi {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-4a76jh {
    box-sizing: border-box;
    list-style: none;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    top: 0px;
    z-index: 1;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    position: static;
    padding: 0.75rem 0.75rem 0.75rem 0rem;
    margin-top: 1.5625rem;
    background-color: transparent;
    color: rgba(76, 78, 100, 0.38);
    transition: padding-left 0.25s ease-in-out 0s;
}
.css-61rljq {
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    text-align: center;
    border: 0px;
    margin: 0rem;
    line-height: normal;
    width: 100%;
}
.css-61rljq .MuiDivider-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.21px;
}
.css-1jyjhu0 {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(76, 78, 100, 0.38);
}
.css-6zyuwx {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-top: 0.375rem;
    transition: padding 0.25s ease-in-out 0s;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}
.css-1yej1se {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-width: 0px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    transition: padding-left 0.25s ease-in-out 0s;
    padding: 0.5625rem 0.75rem 0.5625rem 1rem;
    cursor: pointer;
}
.css-35txlm {
    flex-shrink: 0;
    display: inline-flex;
    min-width: 0px;
    color: rgba(76, 78, 100, 0.87);
    transition: margin 0.25s ease-in-out 0s;
    margin-right: 0.5rem;
}
.css-ixn83t {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: opacity 0.25s ease-in-out 0s;
    overflow: hidden;
    opacity: 1;
}
.css-8atqhb {
    width: 100%;
}
.css-nr7phf {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1.5rem !important;
    min-height: 64px !important;
}
.css-1f8uh8r {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}
.css-1f8uh8r > :not(:last-child) {
    margin-right: 0.5rem;
}

.css-1f8uh8r > * {
    max-width: 220px;
}

.css-3cvfig {
    list-style: none;
    margin: 0px;
    padding: 0.6875rem 0px;
    position: relative;
}
.css-1039ghg {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5625rem 16px;
    cursor: pointer;
    border-radius: 8px;
}
.css-3cvfig {
    list-style: none;
    margin: 0px;
    padding: 0.6875rem 0px;
    position: relative;
}
.css-1039ghg:hover {
    background: rgba(76, 78, 100, 0.05);
}

.css-1039ghg {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5625rem 16px;
    cursor: pointer;
    border-radius: 8px;
}
.css-vrx7gm {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1xlfmol {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
.css-1a5jvcj {
    flex-shrink: 0;
    display: inline-flex;
    min-width: 0px;
    margin-right: 0.625rem;
    color: rgba(76, 78, 100, 0.87);
}

.css-1wjc5gi {
    margin: 0px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.css-70kf2r {
    margin-left: 0.375rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-gsygar {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    color: rgba(76, 78, 100, 0.68);
}
.css-167xsrr {
    z-index: 1100;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1.375rem;
}
.css-1drhuic {
    color: rgba(76, 78, 100, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    background-image: none;
    overflow-y: auto;
    padding: 0.5rem 0rem;
    background-color: rgb(255, 255, 255);
    width: 260px;
    max-height: calc(100vh - 13rem);
    box-shadow: rgb(76 78 100 / 56%) 0px 6px 18px -8px;
}
.css-1tcqdsk {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    padding: 0.5625rem 16px;
    width: auto;
    color: rgba(76, 78, 100, 0.87);
    cursor: pointer;
}
.css-12d2mry {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-1mervjy {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}
.css-orltun {
    flex-shrink: 0;
    display: inline-flex;
    min-width: 0px;
    margin-right: 0.75rem;
    color: rgba(76, 78, 100, 0.87);
}
li.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.menu-group.Mui-selected.css-1039ghg:hover .MuiBox-root.css-167xsrr{
    opacity: 1;
    visibility: visible;
}
.css-13nd69s {
    background-color: rgb(255, 255, 255);
    color: rgba(76, 78, 100, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    background-image: none;
    overflow: hidden;
    box-shadow: rgb(76 78 100 / 22%) 0px 2px 10px 0px;
}
.css-1lbhvlm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.25rem 1.25rem 1rem;
}
.css-11qjisw {
    flex: 1 1 auto;
}
.css-1lbhvlm .MuiCardHeader-title {
    letter-spacing: 0.15px;
}
.css-12evlce:last-of-type {
    padding-bottom: 1.25rem;
}
.css-1lbhvlm .MuiCardHeader-title {
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.25rem;
}
.css-h2qpui {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}
.css-1t0alks {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 24px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, 16px) scale(1);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    color: rgba(76, 78, 100, 0.68);
}
.css-19x525l {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.15px;
    color: rgba(76, 78, 100, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 8px;
}
.css-2aacz8.css-2aacz8.css-2aacz8 {
    padding-right: 32px;
}

.css-2aacz8.MuiSelect-select {
    min-width: 6rem !important;
}

.css-2aacz8.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.css-2aacz8 {
    appearance: none;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}
.css-dv6cwf {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(76, 78, 100, 0.54);
}
.css-19x525l .MuiOutlinedInput-notchedOutline {
    border-color: rgba(76, 78, 100, 0.22);
}

.css-igs3ac {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(0, 0, 0, 0.23);
}

.css-1ftyaf0 {
    float: unset;
    overflow: hidden;
    display: block;
    width: auto;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 0.01px;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    white-space: nowrap;
}
.css-1ftyaf0 > span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}
.css-h2qpui > .MuiGrid-item {
    padding: 0 10px;
}
.css-13nd69s {
    background-color: rgb(255, 255, 255);
    color: rgba(76, 78, 100, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    background-image: none;
    overflow: hidden;
    box-shadow: rgb(76 78 100 / 22%) 0px 2px 10px 0px;
}
.css-1ctkf99 {
    padding: 1.25rem 1.25rem 0.75rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-rx2f15.MuiDataGrid-autoHeight {
    height: auto;
}

.css-rx2f15 {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.429;
    letter-spacing: 0.15px;
    outline: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0px;
    color: rgba(76, 78, 100, 0.87);
}

.css-opb0c2 {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.css-1atk746 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(245, 245, 247);
    max-height: 54px !important;
    min-height: 54px !important;
    line-height: 24px !important;
}
.css-rr607c {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-rx2f15 .MuiDataGrid-columnHeaderCheckbox {
    max-width: 58px !important;
    min-width: 58px !important;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    height: 54px;
}

.css-rx2f15 .MuiDataGrid-columnHeader {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeaderCheckbox, .css-rx2f15 .MuiDataGrid-cellCheckbox {
    padding: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.css-rx2f15 .MuiDataGrid-columnHeader, .css-rx2f15 .MuiDataGrid-cell {
    -webkit-tap-highlight-color: transparent;
    padding: 0px 10px;
    box-sizing: border-box;
}
.css-rx2f15 .MuiDataGrid-columnHeaderDraggableContainer {
    display: flex;
    width: 100%;
}
.css-rx2f15 .MuiDataGrid-columnHeader--alignCenter .MuiDataGrid-columnHeaderTitleContainer {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainer {
    padding: 0px;
}

.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 0px;
    flex: 1 1 0%;
    white-space: nowrap;
    overflow: hidden;
}
.css-rx2f15 .MuiDataGrid-columnHeaderTitleContainerContent {
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-1l36ixv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    padding: 9px;
    border-radius: 50%;
    color: rgba(76, 78, 100, 0.68);
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1ctkf99 {
    padding: 1.25rem 1.25rem 0.75rem;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-j5yqh7 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px 1rem 0.5rem 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: rgb(109, 120, 141);
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(109, 120, 141, 0.5);
    font-weight: 500;
    border-radius: 8px;
    line-height: 1.572;
    padding: 0.4375rem 1.3125rem;
}
.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}
.css-1l6c7y9 > :nth-of-type(1) {
    font-size: 20px;
}

.css-1k33q06 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-xxdqwu {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}
.css-olzsa8 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px 1.5rem 0.5rem 0px;
    border: 0px;
    vertical-align: top;
    margin-bottom: 0;
}

.css-1658vn9 {
    outline: none;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    padding:8px;
    border-radius: 5px;
    border:1px solid rgb(109 120 141 / 50%)
}
.css-pp3aye {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: rgb(255, 255, 255);
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(102, 108, 255);
    font-weight: 500;
    border-radius: 8px;
    line-height: 1.715;
    box-shadow: rgb(76 78 100 / 42%) 0px 4px 8px -4px;
    padding: 0.4375rem 1.375rem;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
select {
    width:100%;
    outline: none;
    padding: 10px;
    border: 1px solid;
    border-color: rgba(76, 78, 100, 0.22);
    border-radius: 5px;
    color: rgb(134 135 150);
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.css-h3o6is{
    width:33%;
}
.user{
    display:flex;
    align-items: center;
    justify-content: center;
}
.user img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right: 10px;
}
.user h5{
    font-size: 15px;
    margin-bottom: 0;
}
.user p{
    font-size: 12px;
    margin-bottom: 0;
}
.data-table table input[type="checkbox"]{
    width:17px;
    height:17px;
}
.data-table table td{
    padding-top: 13px;
}
.data-table table thead th{
    color: #626477;
}
.data-table .table tbody tr td svg{
    width:6px;
    /* text-align: center; */
}
.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputSizeSmall.css-1658vn9{
    margin-bottom: 10px;
}




















.fa-bars{
    opacity: 0;
    cursor: pointer;
}
.fa-bars.active{
    opacity: 1;
}


@media (max-width: 768px) {
    .fa-bars{
        opacity: 1;
    }
}
@media (max-width:1400px){
    .menu_toggle{
        display: none;
    }
    .end_basis{
        align-items: center;
        /* justify-content:flex-end !important; */
        padding: 10px 0;
    }
}
@media (min-width: 1536px)
{
.css-h3o6is {
    flex-basis: 33.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
}}
@media (max-width: 600px)
{
    .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.css-h3o6is{
        width:49%;
        margin-bottom: 10px;
    }
}
